$body-font-family: 'Degarism studio fracktif', sans-serif !default;

// box shadows
$shadow-key-umbra-opacity: rgba(10, 10, 10, 0.1) !default;
$shadow-key-penumbra-opacity: rgba(10, 10, 10, 0.12) !default;
$shadow-key-ambient-opacity: rgba(10, 10, 10, 0.1) !default;

$btn-sizes: (
  'default': 41,
  'large': 54
);
